.DS_Store
Thumbs.db
db.json
*.log
public/
.deploy*/
!/node_modules/
/node_modules/*
!/node_modules/hexo-generator-index/
/node_modules/hexo-generator-index/*
!/node_modules/hexo-generator-index/lib/
/node_modules/hexo-generator-index/lib/*
!/node_modules/hexo-generator-index/lib/generator.js
