.DS_Store
Thumbs.db
db.json
*.log
public/
.deploy*/
.deploy_git/
!/node_modules/
/node_modules/*
!/node_modules/hexo-generator-index/
/node_modules/hexo-generator-index/*
!/node_modules/hexo-generator-index/lib/
/node_modules/hexo-generator-index/lib/*
!/node_modules/hexo-generator-index/lib/generator.js
!/themes/
/themes/*
!/themes/tranquilpeak/
/themes/tranquilpeak/*
!/themes/tranquilpeak/languages/
!/themes/tranquilpeak/layout/

!/themes/tranquilpeak/source/
/themes/tranquilpeak/source/*
!/themes/tranquilpeak/source/_css/
!/themes/tranquilpeak/source/_fonts/
!/themes/tranquilpeak/source/_images/
!/themes/tranquilpeak/source/_js/
!/themes/tranquilpeak/source/assets/
/themes/tranquilpeak/source/assets/*
!/themes/tranquilpeak/source/assets/css
!/themes/tranquilpeak/source/assets/fonts
!/themes/tranquilpeak/source/assets/images
!/themes/tranquilpeak/source/assets/js

!/themes/tranquilpeak/_config.yml
!/themes/tranquilpeak/package.json

